.post-image{
    width: 100px;
    height:100px;
    float: left;
    margin: 5px;
}

.post{
    border-style: solid;
    border-color: Green;
    margin: 10px;
    width: 90%;
    float: left;
}

.container{
    max-width: 900px;
}

/* TABLE { background-color: white; } */

p { margin-left: 0em; }

table { font-family: Verdana, Arial, Helvetica, sans-serif; }
caption { font-weight: bold; }
th { font-weight: bold; padding: 2px; }
td { padding: 2px; }
/* tr { background-color: white; } */
